<html>
	<head>
		<title>Test app</title>
		<link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
		<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
		<style>
	      body {
	        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
	      }
	    </style>
	</head>
	<body>
		<div class="navbar navbar-fixed-top navbar-inverse" >
			<div class="navbar-inner" >
				<div class="container">
					<p class="brand">Test App</p>
				</div>
			</div>
		</div>
		<div class="container">
			<h1>node: <%= @hostname %></h1>
			<table>
				<% @hits.each do |hit| %>
				<tr><td><%= hit %></td></tr>
				<% end %>
			</table>
		</div>
	</body>
</html>